# ===== Build directories =====
[Bb]uild/
[Dd]ebug/
[Rr]elease/
[xX]64/
[xX]86/

# ===== Visual Studio =====
.vs/
*.vcxproj.user
*.suo
*.user

# ===== Compiled objects =====
*.obj
*.o
*.ilk
*.pdb

# ===== Libraries =====
*.lib
*.dll
*.exp

# ===== CMake =====
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# ===== External libraries =====
Project/Externals/**/Debug/
Project/Externals/**/Release/

# ===== Logs =====
*.log
